---
import Calendar from '../pages/components/Calendar.astro';
import Clock from '../pages/components/Clock.astro';
import Notes from '../pages/components/Notes.astro';
---

<>
  <title>Calender & Clock</title>
  <div class="Calender">
    <Calendar />
  </div>
  <div class="Clock">
    <Clock />
  </div>
  <div class="Notes">
    <Notes />
  </div>
</main>


<style>
  .Calender{
    position: relative;
    /*left: 20%;*/
    width: 85%;
  }

  .Clock{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 20%;
  }
  .Notes{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 20%;
    padding-right: 12%;
  }


</style>